language: python

sudo: false
cache:
  apt: true
  directories:
    - $HOME/.pip-cache/

addons:
  apt:
    packages:
      - expect-dev
      - python-lxml
      - python-simplejson
      - python-yaml

python:
  - "2.7"

env:
  global:
  - LINT_CHECK=0 TESTS="0" VERSION="8.0" ODOO_REPO="odoo/odoo"

  matrix:
  - LINT_CHECK=1
  - TESTS="1"

virtualenv:
  system_site_packages: true

install:
  - git clone https://github.com/OCA/maintainer-quality-tools.git $HOME/maintainer-quality-tools
  - export PATH=$HOME/maintainer-quality-tools/travis:$PATH
  - travis_install_nightly
  - pip install coveralls flake8
  - git clone https://github.com/OCA/product-attribute -b ${VERSION} $HOME/product-attribute
  - git clone https://github.com/OCA/webkit-tools -b ${VERSION} $HOME/webkit-tools
  - git clone https://github.com/OCA/stock-logistics-warehouse -b ${VERSION} $HOME/stock-logistics-warehouse

script:
  - travis_wait travis_run_tests

after_success:
  - travis_after_tests_success
